@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;600&family=Poppins:wght@300;600&family=Roboto+Mono:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@1&display=swap");

$dark-theme-background: #1c1d25;
$light-theme-primary-text: #1c1d25;
$light-theme-background: #ffffff;
$dark-theme-primary-text: #ffffff;
$mobile-nav-background: #1c1d25;
$primary-colour: #f06449;
$secondary-color: #4461c8;
$btn-gradient: linear-gradient(270deg, #f06449, #ef3636);

$primary-font: "Poppins", sans-serif;
$secondary-font: "Roboto Mono", monospace;

* {
   padding: 0;
   margin: 0;
   border: none;
}

body {
   background: $dark-theme-background;
   color: $dark-theme-primary-text;
   font-family: $primary-font;
   overflow-x: clip;
}

h1 {
   font-weight: 600;
   font-size: 2.5em;
}

h2 {
   font-family: $secondary-font;
   font-weight: 400;
   font-size: 1.8em;
   color: $primary-colour;
}

p {
   font-weight: 300;
   font-size: 1em;
   overflow: wrap;
}

a {
   color: $dark-theme-primary-text;
   text-decoration: none;
}

ul {
   list-style-type: none;
}

section {
   padding: 3em 3em;
}

.nav-container {
   padding: 1em 3em;

   .nav-logo {
      svg {
         width: 7vw;
         min-width: 30px;
         max-width: 50px;
         height: auto;
      }
   }

   nav {
      display: none;
   }

   .container {
      display: flex;
      place-content: space-between;
   }

   .mobile-menu {
      cursor: pointer;
      width: 35px;
      height: auto;
   }
}

nav.menu-btn {
   display: block;
}

nav {
   position: fixed;
   z-index: 999;
   width: 100%;
   right: 0;
   top: 0;
   background: $mobile-nav-background;
   height: 100vh;
   padding: 1em 3em;

   ul.primary-nav {
      margin-top: 5em;
   }

   li {
      a {
         color: white;
         text-decoration: none;
         display: block;
         padding: 0.5em;
         font-size: 1.3em;
         font-weight: bold;
         text-align: right;
         transition: all 0.5s;

         &:hover {
            color: $secondary-color;
         }
      }
   }
}

.mobile-menu-exit {
   float: right;
   cursor: pointer;
   width: 35px;
   height: auto;
   padding-top: 1em;
}

.hero-container {
   .container {
      height: 55vh;
      text-align: center;
      padding: 5em 3em;
      display: flex;
      position: relative;
   }

   .left-col {
      justify-content: center;
      align-items: center;
      margin: auto;

      h1 {
         font-size: 2.5em;
         margin: 0.3em auto;
      }
      .subhead {
         font-family: $primary-font;
         font-style: italic;
         letter-spacing: 0.1em;
         padding: 1em;
      }
      .primary-cta {
         background: $btn-gradient;
         color: white;
         padding: 0.6em 1.3em;
         margin: 1em auto;
         font-size: 1.1em;
         font-weight: bold;
         letter-spacing: 0.1em;
         display: inline-block;
         transition: all 0.2s;

         &:hover {
            scale: 105%;
         }
      }
   }

   .right-col {
      position: absolute;
      top: 30%;
      left: 50%;
      z-index: -999;

      svg {
         height: 40vh;
         width: auto;
         opacity: 0.6;
      }
   }
}

.hero-img {
   width: 70%;
   margin-top: 2em;
}

.section-content {
   .img-container {
      text-align: center;
   }

   img {
      max-width: 80%;
      padding-top: 2em;
   }
}

.contact-section {
   display: flex;
   justify-content: center;
   align-items: center;

   form {
      display: flex;
      flex-direction: column;
      gap: 1.2em;
      width: 75%;
      max-width: 500px;
   }

   label {
      display: block;
      position: absolute;
      font-size: 1.2em;
      top: 50%;
      transform: translateY(-50%);
      color: $dark-theme-primary-text;
      transform-origin: left top;
      user-select: none;
      transition: transform 150ms cubic-bezier(0.4, 0, 0.2, 1),
         color 150ms cubic-bezier(0.4, 0, 0.2, 1), top 500ms;
   }

   .input-container {
      position: relative;
      height: 3em;
      transition: background-color 500ms;
   }

   input,
   textarea {
      width: 100%;
      height: 100%;
      box-sizing: border-box;
      background: transparent;
      font-family: $primary-font;
      font-size: 1em;
      caret-color: white;
      border-bottom: solid 2px $primary-colour;
      color: $dark-theme-primary-text;
      transition: all 500ms;
      padding: 20px 16px 6px;

      &:hover {
         border-color: $secondary-color;
      }

      &:focus {
         outline: none;
         border-color: $secondary-color;
      }
   }
   textarea {
      overflow: scroll;
   }

   input:focus + label,
   input.is-valid + label,
   textarea:focus + label,
   textarea.is-valid + label {
      transform: translateY(-100%) scale(0.75);
      color: $secondary-color;
   }

   .submit-btn {
      text-align: right;
   }

   input[type="submit"] {
      height: auto;
      border: solid $primary-colour 2px;
      font-size: 1.2em;
      font-weight: bold;
      padding: 0.6em 1.5em;
      cursor: pointer;
      width: auto;

      &:hover {
         background: $primary-colour;
         color: white;
      }
   }
}

.section-header,
.section-footer {
   padding: 1em 0;
}

.footer-section {
   padding: 2em 5em;

   .social-links {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      max-width: 400px;
      margin: auto;

      svg {
         height: 2.5em;
         width: auto;
      }
   }
   .copyright {
      text-align: center;
      margin-top: 2em;
      color: grey;
   }
}

@media only screen and (min-width: 768px) {
   .mobile-menu,
   .mobile-menu-exit {
      display: none;
   }

   section {
      width: 75vw;
      max-width: 1080px;
      margin: auto;
   }

   .nav-container .container {
      display: flex;
      justify-content: flex-end;
      width: 80vw;
      max-width: 1180px;
      margin: auto;
   }

   .nav-container nav {
      display: flex;
      justify-content: flex-end;
      background: none;
      position: unset;
      height: auto;
      width: 100%;
      padding: 0;
      margin: auto;

      ul {
         display: flex;
         justify-content: center;
         align-items: center;
         margin: 0;
      }

      a {
         color: white;
         font-size: 1.2em;
      }

      ul.primary-nav {
         display: flex;
         justify-content: flex-end;
         margin-right: 3em;
      }

      li.current a {
         font-weight: bold;
      }
      li.nav-cta a {
         color: $primary-colour;
         border: 3px solid $primary-colour;
         font-weight: bold;

         &:hover {
            background: $primary-colour;
            color: white;
         }
      }
   }

   .section-content {
      max-width: 1080px;
      margin: auto;
      padding: 0 5vw;
   }
}

@media only screen and (min-width: 1080px) {
   .container {
      margin: 0 auto;
   }

   section {
      padding: 5em 4em;
   }

   .hero-container {
      height: 60vh;

      .container {
         display: flex;
         justify-content: left;
         text-align: left;

         .left-col {
            margin-left: 0;
            h1 {
               font-size: 4em;
               width: 100%;
            }
            .subhead {
               padding: 0;
            }

            .primary-cta {
               margin: 2em 0;
            }
         }

         .right-col {
            position: absolute;
            top: 20%;

            svg {
               height: 40vw;

               width: auto;
               max-height: 500px;
            }
         }
      }
   }

   .section-content {
      display: flex;
      flex-direction: row;
      align-items: center;

      img {
         padding: 0;
         max-width: 100%;
         margin-left: 2em;
      }

      .about-left,
      .skills-content,
      .training-content {
         max-width: 60%;
      }
   }

   .contact-section {
      position: relative;

      .container {
         display: flex;
      }
   }
}
